<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

<div class=col-md-4>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-header">
      <h2 id="name">Name</h2>
      <h3>Intern</h3>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: </li>
            <li class="list-group-item">E-Mail: </li>
            <li class="list-group-item">School: </li>
          </ul>
        </div>
        
      </div>
    </div>
</div>